img {
  max-width: 100%;
  height: auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto Slab"; }

ul,
ol {
  list-style: none; }

a,
a:hover {
  text-decoration: none; }

p {
  margin-bottom: 10px; }

.header {
  background: #383838;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 15px 0;
  text-align: center; }
  .header h1 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #fff;
    margin-bottom: 0; }

.footer {
  background: #383838;
  padding: 10px;
  text-align: center; }
  .footer p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0; }

.product {
  margin: 30px 0; }
  .product__item {
    margin-bottom: 30px; }
    .product__item:hover .product__inner {
      box-shadow: 19px 1px 30px rgba(0, 0, 0, 0.25); }
  .product a {
    display: block;
    height: 100%; }
  .product__inner {
    background: #f4f4f4;
    padding: 8px;
    height: 100%;
    text-align: center;
    transition: all 0.3s; }
    .product__inner:hover {
      border-color: #fafafa; }
  .product__image {
    background: #fff;
    display: block; }
  .product__name {
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold; }
    .product__name:hover {
      color: #f00; }
  .product__price {
    font-size: 13px;
    color: #000; }

.product-detail {
  margin: 30px 0; }
  .product-detail__name {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    font-size: 22px;
    margin-bottom: 20px; }
  .product-detail__image {
    border: 1px solid #eeeeee;
    display: block;
    padding: 5px; }
  .product-detail__price {
    font-size: 34px; }
  .product-detail__description {
    font-size: 14px; }
