img {
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab";
}

ul,
ol {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

.header {
    background: rgb(56, 56, 56);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 15px 0;
    text-align: center;

    h1 {
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 1.5px;
        color: #fff;
        margin-bottom: 0;
    }
}

.footer {
    background: rgb(56, 56, 56);
    padding: 10px;
    text-align: center;

    p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 0;
    }
}

.product {
    margin: 30px 0;

    &__item {
        margin-bottom: 30px;

        &:hover {
            .product__inner {
                box-shadow: 19px 1px 30px rgba(0, 0, 0, 0.25);
            }
        }
    }

    a {
        display: block;
        height: 100%;
    }

    &__inner {
        background: rgb(244,244,244);
        padding: 8px;
        height: 100%;
        text-align: center;
        transition: all 0.3s;

        &:hover {
            border-color: rgb(250, 250, 250);
        }
    }

    &__image {
        background: #fff;
        display: block;
    }

    &__name {
        color: #000;
        font-size: 14px;
        margin-top: 10px;
        font-weight: bold;

        &:hover {
            color: #f00;
        }
    }

    &__price {
        font-size: 13px;
        color: #000;
    }
}

.product-detail {
    margin: 30px 0;

    &__name {
        border-bottom: 1px solid rgb(238, 238, 238);
        padding-bottom: 10px;
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__image {
        border: 1px solid rgb(238, 238, 238);
        display: block;
        padding: 5px;
    }

    &__price {
        font-size: 34px;
    }

    &__description {
        font-size: 14px;
    }
}